<h3>Add a new expense:</h3>
  <form action="/addexpense" method="post">
    <div>
      <label for="payee">Payee:
        <input name="payee" id="payee">
      </label>
    </div>
    <div>
      <label for="category">Category:
        <input name="category" id="category">
      </label>
    </div>
    <div>
      <label for="date">Date:
        <input name="date" id="date" placeholder="yyyy-mm-dd">
      </label>
    </div>
    <div>
      <label for="amount">Amount:
        <input name="amount" id="amount" placeholder="$0000.00">
      </label>
    </div>
    <div>
      <button type="submit">Add Expense</button>
    </div>
  </form>