<h3>Viewing expenses grouped by <%= @param %>:</h3>
<table>
  <tr>
    <th><%= @param %></th>
    <th>Total Amount</th>
  </tr>
  <% @data.each do |row| %>
    <tr>
      <td><%= row[@param.downcase]%></td>
      <td><%= row["sum"]%></td>
    </tr>
  <% end %>
</table>