<h3>Viewing expenses grouped by <%= @grouping %>:</h3>
<table>
  <tr>
    <th><%= @grouping %></th>
    <th>Total Amount</th>
  </tr>
  <% @data.each do |row| %>
    <tr>
      <td><%= row[@grouping.downcase]%></td>
      <td><%= row["sum"]%></td>
    </tr>
  <% end %>
</table>